@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100vw;
    height: 100vh;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#main-board {
    width: 602px;
    height: 602px;
    border: solid thin black;
    box-sizing: border-box;
    cursor: default;
}

#toolbar {
    width: 602px;
    padding-top: 20px;
}

.main-square {
    width: 200px;
    height: 200px;
    border: solid thin black;
    box-sizing: border-box;
}

.little-square {
    width: 66px;
    height: 66px;
    border: solid thin black;
    box-sizing: border-box;
}

.current-square {
    background-color: lightblue;
}

.main-mark {
    font-size: 3em;
}
